html, body {
    max-height: 600px;
    width: 800px;
    overflow: hidden;
}

#popup {
    background-color: greenyellow;
}

.hidden {
    display: none;
}

#table td, #table th {
    max-width: 60px;
    height: 60px;
    white-space: nowrap;
    overflow: hidden;
}

#table th {
    border: 2px solid black;
}

tbody th {
    position: sticky;
    left: 0;
    z-index: 2;
    outline: 2px solid black;
    outline-offset: -2px;
}

#empty {
    visibility: hidden;
    border: none !important;
    outline: none !important;
}
