#popup {
    background-color: greenyellow;
}

.hidden {
    display: none;
}

#table * {
    padding: 10px;
}

td {
    width: 200px;
    height: 80px;
    max-width: 200px;
    max-height: 80px;
    white-space: nowrap;
    overflow: hidden;
}

#table th {
    border: 2px solid black;
}

.container {
    max-height: 600px;
    max-width: 800px;
}